<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="lib://net.rptools.maptool/css/mt-stat-sheet.css?cachelib=false"
    />
    <link rel="stylesheet" href="./statsheet.css?cachelib=false" /> 
  </head>
  <body>
    <div id="statSheet" class="{{statSheetLocation}}">
      <div class="page" style="border:2px solid var(--mt-theme-color-actions-green-dark)">
        <ul>
          <li>John Doe</li>
          <li><p>Spezies und Geschlecht</p>Querxianer</li>
          <li><p>Alter</p>24</li>
          <li><p>Größe</p>1,84m</li>
          <li><p>Hautfarbe</p>graublau</li>
          <li><p>Haarfarbe</p>weiß</li>
          <li><p>Augenfarbe</p>klar</li>
          <li><p>Aussehen und typische Kleidung</p></li>
        </ul>
      </div>
      <div class="page" style="border:2px solid var(--mt-theme-color-actions-blue)">
        <ul>
          <li>Können</li>
          <li><p>Beruf 1-x<br/> mit Spezialisierung</p></li>
          <li><p>Fertigkeit 1-x <br/> mit Spezialisierung(en)</p></li>
          <li><p>Stärke 1-x<br/>Zitat +/-</p></li>
          <li><p>Schwäche 1-x<br/>Zitat +/-</p></li>
          <li><p>Besonderheit 1-x </p></li>
        </ul>
      </div>
      <div class="page" style="border:2px solid var(--mt-theme-color-actions-red-dark)">
        <ul>
          <li>Motivation</li>
          <li><p>Antrieb Wollen<br/>Zitat</p></li>
          <li><p>Antrieb Handeln<br/>Zitat</p></li>
          <li><p>Antrieb Sein<br/>Zitat</p></li>
          <li><p>Warum bin ich hier?</p></li>
          <li><p>Was hält mich bei der Gruppe?</p></li>
          <li><p>Was macht mich sympathisch?</p></li>
          <li><p>Prägende Erlebnisse</p></li>
        </ul>
      </div>
      <div class="page" style="border:2px solid var(--mt-theme-color-objects-yellow-dark)">
        <ul>
          <li>Ausrüstung</li>
          <li><p>Waffen und Rüstung</p></li>
        </ul>
      </div>
        <div class="page">
          <div>&nbsp;</div>
      </div>
    </div> <!-- statSheetLocation -->
  </body>
</html>
